<form (submit)="saveStudent(formStudent)" #formStudent="ngForm">
<mat-card>
  <mat-form-field>
    <input matInput type="text" name="studentName" placeholder="Name" ngModel required #studentName="ngModel">
    <mat-error *ngIf="studentName">Please enter student name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea rows="6" matInput name="studentDis" placeholder="Discription" ngModel required
      #studentDis="ngModel"></textarea>
    <mat-error *ngIf="studentDis">Please enter a student discription</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Submit</button>
</mat-card>
</form>
